{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "presets": ["module:metro-react-native-babel-preset"],
  "extends": [
    "@react-native",
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "react",
    "react-hooks",
    "prettier",
    "import"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "prefer-const": "warn",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/react-in-jsx-scope": "off",
    "react/display-name": "off",
    "import/no-unused-modules": [
      "warn",
      {
        "unusedExports": true,
        "missingExports": true
      }
    ],
    "object-curly-newline": [
      "error",
      {
        "multiline": true,
        "consistent": true
      }
    ],
    "max-lines": [
      "warn",
      350
    ]
  }
}