.cardContainer {
  background-color: rgb(207, 207, 207);
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.card {
  width: 100%;
  background-color: #fff;
  transition: 0.35s ease;
  overflow: hidden;
  // flex: 1;
}

.cardSlided {
  border-top-right-radius: 12;
  border-bottom-right-radius: 12;
}

.actionButtons {
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 8;
  height: 100%;
}
